{% extends "base.html" %}
 
{% block content %}
    <div class="row">
        <h2>Blog Home</h2>
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Blog Home</a></li>
                    <li><a href="/top">Top Posts</a></li> 
                    <li><a href="{% url 'new_post' %}">Add New Post</a></li>                   
                </ul>
            </div>
        </nav>
        <button class="btn btn-default" onclick="location.href='{% url 'new_post' %}'">Add New Post</button>
    </div>
    {% for post in posts %}
        <div class="row">
            <hr>
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    {% if post.image %}
                        <img src="/media/{{ post.image}}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle"">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><button class="btn btn-default" onclick="location.href={{ post.id }}">Read More</button></p>
                        <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> <a href="/blog/{{ post.tag }}">{{ post.tag }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

