{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h2>Top Posts</h2>
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/blog/">Blog Home</a></li>
                    <li><a href="/blog/top">Top Posts</a></li> 
                    <li><a href="{% url 'new_post' %}">Add New Post</a></li>                   
                </ul>
            </div>
        </nav>
    </div>
    {% for top_post in top_posts %}
        <div class="row">
            <hr>
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    {% if top_post.image %}
                        <img src="/media/{{ top_post.image}}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle"">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ top_post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ top_post.content|truncatewords:30 }}</p>
                        <p><button class="btn btn-default" onclick="location.href={{ top_post.id }}">Read More</button></p>
                        <p>{{ top_post.published_date }} | <strong>Views</strong> {{ top_post.views }} | <strong>Tag</strong> <a href="/blog/{{ top_post.tag }}">{{ top_post.tag }}</a> </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}